<div class="row">
  <div class="col-lg-12">
    <div class="card bg-light-info no-card-border">
      <div class="card-body text-center">
        <div class="d-flex align-items-center">
          <div *ngIf="service.resource?.data.webRef.data.mandates.data.panel2PanelListingStatus">
            <h4 class="m-b-0">Listing Is <span class="text-success">{{ service.resource?.data.webRef.data.mandates.data.panel2PanelListingStatus }}</span> On The Web</h4>
          </div>
          <div class="m-l-10">
              <a class="btn btn-rounded btn-warning font-bold"><i class="fas fa-toggle-off "></i>  Change Status</a>
            </div>
            <div class="m-l-10">
              <a class="btn btn-rounded btn-warning" target="_blank" href="https://www.maxprop.co.za/#/listing-landing/{{ service.resource?.data.webRef._id }}/view"><i class="fas fa-share"></i>  Share Listing Landing Page Link</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-t-15">
  <div class="col-md-8 col-sm-12">
    <div class="card">
      <table class="table v-top no-border m-b-0 agent-header-index agent-header-index2">
        <tbody>
          <tr>
            <td>
              <h3 class="font-normal m-b-0">{{ service.resource?.data.webRef.data.headline }}</h3>
              <small>{{ service.resource?.data.webRef.data.city.data.city }} / {{ service.resource?.data.webRef.data.suburb.data.suburb }}</small>
            </td>
            <td>
                <small *ngIf="service.resource?.data.webRef.data.dateListed" class="m-b-0 p-b-0 float-right text-muted">Listed: {{ service.resource?.data.webRef.data.dateListed | date }}</small>
                <span class="clearfix"></span>
                <small *ngIf="service.resource?.data.webRef.data.mandates.data.uniqueCode" class="m-b-0 p-t-0 p-b-0 m-t-0 float-right">Ref No: {{ service.resource?.data.webRef.data.mandates.data.uniqueCode }}</small>
                <span class="clearfix"></span>
                  <label class="label label-price font-bold m-t-3">R{{ service.resource?.data.webRef.data.price | number }}</label>
              </td>
          </tr>
        </tbody>
      </table>
      <hr class="m-t-0" />
      <table class="table v-middle no-border agent-header-index p-0" style="text-align: center">
        <tbody>
          <tr>
            <td class="p-0"><img src="assets/images/bedroom-icon.png">
              {{ service.resource?.data.webRef.data.bedrooms }}
              Bedrooms</td>
            <td class="p-0"><img src="assets/images/bathroom-icon.png">
              {{ service.resource?.data.webRef.data.bathrooms }}
              Bathrooms</td>
            <td class="p-0"><img src="assets/images/kitchen-icon.png">
              {{ service.resource?.data.webRef.data.kitchens }}
              Kitchen</td>
            <td class="p-0"><img src="assets/images/garage-icon.png">
              {{ service.resource?.data.webRef.data.garages }}
              Garages</td>
          </tr>
        </tbody>
      </table>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['0']['url'] }}" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['1']['url'] }}" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['2']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['3']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['4']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['5']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['6']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['7']['url'] }}" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.webRef.data.images['8']['url'] }}" alt="Random third slide">
        </ng-template>
      </ngb-carousel>
      <div class="card-body">
        <h3>{{ service.resource?.data.webRef.data.headline }}</h3>
        <hr />
        <p class="m-t-15"><span [innerHTML]="service.resource?.data.webRef.data.description"></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4>Rooms</h4>
            <hr />
            <table class="table no-border room-detail m-b-0">
              <tbody>
                <tr>
                  <td>Bedrooms:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.bedrooms }}
                  </td>
                </tr>
                <tr>
                  <td>Bathrooms:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.bathrooms }}
                  </td>
                </tr>
                <tr>
                  <td>Kitchens:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.kitchens }}
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.diningRooms">
                  <td>Dining Rooms:</td>
                  <td>{{ service.resource?.data.webRef.data.diningRooms }}</td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.lounges">
                  <td>Lounges:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.lounges }}
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.storeRooms">
                  <td>Store Rooms:</td>
                  <td>
                    <span class="text-capitalize">{{ service.resource?.data.webRef.data.storeRooms }}</span>
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.domesticRooms">
                  <td>Domestic Rooms:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.domesticRooms }}
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.staffRooms">
                  <td>Staff Rooms:</td>
                  <td>
                    {{ service.resource?.data.webRef.data.staffRooms }}
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.studyRooms">
                  <td>Study Rooms:</td>
                  <td>{{ service.resource?.data.webRef.data.studyRooms }}</td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.flatlet">
                  <td>Flatlet Rooms:</td>
                  <td>{{ service.resource?.data.webRef.data.flatlet }}
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.laundry">
                  <td>Laundry:</td>
                  <td>{{ service.resource?.data.webRef.data.laundryRooms }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body bg-light-info">
            <h4>Pricing</h4>
            <hr />
            <table class="table no-border room-detail m-b-0">
              <tbody>
                <tr>
                  <td>Price:</td>
                  <td>
                    <span class="text-capitalize">R{{ service.resource?.data.webRef.data.price | number }}</span>
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.rates">
                  <td>Rates:</td>
                  <td>
                    <span class="text-capitalize">R{{ service.resource?.data.webRef.data.rates | number }}</span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-body bg-light-success">
            <h4>Features</h4>
            <hr />
            <table class="table no-border room-detail m-b-0">
              <tbody>
                <tr *ngIf="service.resource?.data.webRef.data.pool">
                  <td>Pool:</td>
                  <td>
                    <span class="text-capitalize">{{ service.resource?.data.webRef.data.pool }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Security:</td>
                  <td>
                    <span class="text-capitalize">{{ service.resource?.data.webRef.data.security }}</span>
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.view">
                  <td>View:</td>
                  <td>
                    <span class="text-capitalize">{{ service.resource?.data.webRef.data.view }}</span>
                  </td>
                </tr>
                <tr *ngIf="service.resource?.data.webRef.data.patio">
                  <td>Patio:</td>
                  <td>{{ service.resource?.data.webRef.data.patio }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">

    <div class="card">
      <div class="card-body text-center">
        <div class="profile-pic m-b-0 m-t-10"><img alt="user" class="img-fluid rounded"
            src="{{ service.resource?.data.webRef.data.mandates.data.agent.data.profilePhoto['0']['url'] }}" width="95%"
            style="max-height: 250px; object-fit:cover;">
          <h4 class="m-t-20 m-b-0"><a href="/#/agent/{{service.resource?.data.webRef.data.mandates.data.agent._id}}">
              {{ service.resource?.data.webRef.data.mandates.data.agent.data.fullName }}</a></h4>
          <p>{{ service.resource?.data.webRef.data.mandates.data.agent.data.mobileNumber }}<br />
            <a href="mailto:#">{{ service.resource?.data.webRef.data.mandates.data.agent.data.email }}</a>
          </p>
          <p class="m-b-0"><a href="/#/offices/{{service.resource?.data.webRef.data.mandates.data.offices._id}}">
              {{ service.resource?.data.webRef.data.mandates.data.offices.data.officeName }}</a><br />
            {{ service.resource?.data.webRef.data.mandates.data.offices.data.officeNumber }}<br />
            <a qhref="#">{{ service.resource?.data.webRef.data.mandates.data.offices.data.officeEmailAddress }}</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>