<div class="card no-card-border bg-light m-t-20">
  <div class="card-body">
    <button class="btn btn-warning btn-rounded float-right d-inline" type="button"><i class="fas fa-share"></i>
      Share</button>
    <a href="https://digital-office-files.s3.amazonaws.com/brochures/{{ service.resource?.data.mandates.data.uniqueCode }}-showhouse.pdf"
      class="btn btn-warning btn-rounded float-right d-inline m-r-5"><i class="fas fa-download"></i> Brochure</a>
    <a target="_blank" href="{{ service.resource?.data.mandates.data.address.url }}"
      class="btn btn-warning btn-rounded float-right d-inline"><i class="fas fa-map"></i> Google Maps</a>
    <img class="float-left m-r-25" style="max-width:54px;" src="assets/images/For-Sale-Hero-Icon-2.png" />
    <h6 class="float-left d-inline p-t-10"><i class="fas fa-map-marker-alt"></i>
      {{ service.resource?.data.mandates.data.address.formatted_address }}</h6>
  </div>
</div>
<div class="row m-t-15">
  <div class="col-md-7 col-sm-12">
    <div class="card">
      <table class="table v-top no-border m-b-0 agent-header-index agent-header-index2">
        <tbody>
          <tr>
            <td>
              <h3 class="font-normal m-b-0">{{ service.resource?.data.headline }}</h3>
              <small><span *ngIf="service.resource?.data.city"><a
                    href="/#/city/{{service.resource?.data.city._id}}/city-homes">{{ service.resource?.data.city.data.city }}</a></span><span
                  *ngIf="service.resource?.data.suburb"> / <a
                    href="/#/suburb/{{service.resource?.data.suburb._id}}/suburb-homes">{{ service.resource?.data.suburb.data.suburb }}</a></span></small>
            </td>
            <td>
              <label class="label label-price font-bold m-t-3">R{{ service.resource?.data.price | number }}</label>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="m-t-0" />
      <table class="table v-middle no-border agent-header-index p-0" style="text-align: center">
        <tbody>
          <tr>
            <td class="p-0"><img src="assets/images/bedroom-icon.png">
              {{ service.resource?.data.bedrooms }}
              Bedrooms</td>
            <td class="p-0"><img src="assets/images/bathroom-icon.png">
              {{ service.resource?.data.bathrooms }}
              Bathrooms</td>
            <td class="p-0"><img src="assets/images/kitchen-icon.png">
              {{ service.resource?.data.kitchens }}
              Kitchen</td>
            <td class="p-0"><img src="assets/images/garage-icon.png">
              {{ service.resource?.data.garages }}
              Garages</td>
          </tr>
        </tbody>
      </table>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['0']['url'] }}" style="width:100%" alt="first slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['1']['url'] }}" style="width:100%" alt="second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['2']['url'] }}" style="width:100%" alt="third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['3']['url'] }}" style="width:100%" alt="third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['4']['url'] }}" style="width:100%" alt="third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{ service.resource?.data.images['5']['url'] }}" style="width:100%" alt="third slide">
        </ng-template>

      </ngb-carousel>
      <div class="card-body">

        <p class="m-t-15"><span [innerHTML]="service.resource?.data.description"></span></p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
    
      </div>
    </div>
      -->
  </div>

  <div class="col-md-5 col-sm-12">
      <div class="card bg-light-success">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-sm-4">
          <img alt="{{service.resource?.data.agent.data.fullName}}" class="img-fluid rounded"
            src="{{ service.resource?.data.agent.data.profilePhoto['0']['url'] }}">
        </div>

        <div class="col-md-10 col-sm-8">
          <small class="text-muted m-b-0">Listed By:</small>
          <h5 class="m-b-0">{{ service.resource?.data.agent.data.fullName }}</h5>
          <small class="m-b-0">At {{ service.resource?.data.offices.data.officeName }}</small><br />
        </div>
</div>
      </div>
    </div>


<div class="card">
  <div class="card-body bg-light-info">
    <h4>Snapshot of {{ service.resource?.data.mandates.data.uniqueCode }}</h4>
    <hr />
    <table class="table no-border room-detail m-b-0">
      <tbody>
        <tr *ngIf="service.resource?.data.dateListed">
          <td>Date Listed:</td>
          <td>
            <span>{{ service.resource?.data.dateListed | date }}</span>
          </td>
        </tr>
        <tr class="font-bold">
          <td>Price:</td>
          <td>
            <span>R{{ service.resource?.data.price | number }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.rates">
          <td>Rates:</td>
          <td>
            <span>R{{ service.resource?.data.rates | number }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.floorSpace">
          <td>Floor Space:</td>
          <td>
            <span>{{ service.resource?.data.floorSpace }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.leasePeriod">
          <td>Lease Period:</td>
          <td>
            <span>{{ service.resource?.data.leasePeriod }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.available">
          <td>Available From:</td>
          <td>
            <span>{{ service.resource?.data.available }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body bg-light-info">
    <h4>Mandate Information</h4>
    <hr />
    <table class="table no-border room-detail m-b-0">
      <tbody>
        <tr *ngIf="service.resource?.data.mandates.data.mandate">
          <td>Mandate Type:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.mandate | titlecase }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.mandates.data.mandateStartDate">
          <td>Mandate Start Date:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.mandateStartDate | date }}</span>
          </td>

        </tr>
        <tr *ngIf="service.resource?.data.mandates.data.mandateEndDate">
          <td>Mandate End Date:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.mandateEndDate | date }}</span>
          </td>

        </tr>
        <tr *ngIf="service.resource?.data.mandates.data.commissionPercentage">
          <td>Commission:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.commissionPercentage | number }}%</span>
          </td>
        </tr>

        <tr *ngIf="service.resource?.data.mandates.data.commissionAmount">
          <td>Commission Amount:</td>
          <td>
            <span>R{{ service.resource?.data.mandates.data.commissionAmount | number }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.mandates.data.commissionSplit">
          <td>Commission Split:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.commissionSplit }}</span>
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.mandates.data.commissionSplitNotes">
          <td>Commission Notes:</td>
          <td>
            <span>{{ service.resource?.data.mandates.data.commissionSplitNotes }}</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Need to Know More?</h4>
    <h6 class="card-subtitle mb-2 text-muted">Get in Touch with {{ service.resource?.data.agent.data.firstName }}
      Here...</h6>
    <hr />

    <formio src="https://digitaloffice.form.io/listingcontact" (submit)="onSubmit($event)"></formio>
  </div>
</div>
</div>
</div>
<hr class="clearfix" style="margin-top:30px;margin-bottom:30px;">

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="m-b-20">Room Details</h3>
        <table class="table table-bordered">

          <tbody>
            <tr>
              <td><span class="font-bold">Room</span></td>
              <td><span class="font-bold">Count</span></td>
              <td><span class="font-bold">Notes</span></td>
            </tr>
            <tr>
              <td>Bedrooms</td>
              <td>{{ service.resource?.data.bedrooms }}</td>
              <td>{{ service.resource?.data.bedroomNotes }}</td>
            </tr>
            <tr>
              <td>Bathrooms</td>
              <td>{{ service.resource?.data.bathrooms }}</td>
              <td>{{ service.resource?.data.bathroomNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.kitchens">
              <td>Kitchens</td>
              <td>{{ service.resource?.data.kitchens }}</td>
              <td>{{ service.resource?.data.kitchenNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.diningRooms">
              <td>Dining Rooms</td>
              <td>{{ service.resource?.data.diningRooms }}</td>
              <td>{{ service.resource?.data.diningRoomNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.storeRooms">
              <td>Store Rooms</td>
              <td>{{ service.resource?.data.storeRooms | titlecase }}</td>
              <td>{{ service.resource?.data.storeRoomNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.domesticRooms">
              <td>Domestic Staff Rooms</td>
              <td>{{ service.resource?.data.domesticRooms }}</td>
              <td>{{ service.resource?.data.domesticRoomNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.studyRooms">
              <td>Study Rooms</td>
              <td>{{ service.resource?.data.studyRooms }}</td>
              <td>{{ service.resource?.data.studyRoomNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.lounges">
              <td>Lounges</td>
              <td>{{ service.resource?.data.lounges }}</td>
              <td>{{ service.resource?.data.loungeNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.laundry">
              <td>Laundry</td>
              <td>{{ service.resource?.data.laundry }}</td>
              <td>{{ service.resource?.data.laundryNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.flatlet">
              <td>Flatlet</td>
              <td>{{ service.resource?.data.flatlet }}</td>
              <td>{{ service.resource?.data.flatletNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.garages">
              <td>Garages</td>
              <td>{{ service.resource?.data.garages }}</td>
              <td>{{ service.resource?.data.parkingNotes }}</td>
            </tr>
            <tr>
            <tr *ngIf="service.resource?.data.carPorts">
              <td>Car Ports</td>
              <td>{{ service.resource?.data.carPorts }}</td>
              <td>{{ service.resource?.data.parkingNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.pool">
              <td>Pool</td>
              <td>{{ service.resource?.data.pool | titlecase }}</td>
              <td>{{ service.resource?.data.poolNotes }}</td>
            </tr>
            <tr *ngIf="service.resource?.data.security">
              <td>Security</td>
              <td>{{ service.resource?.data.security | titlecase }}</td>
              <td>{{ service.resource?.data.securityNotes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="m-b-20">Property Details</h3>
        <table class="table table-bordered">

          <tbody>
            <tr>
              <td><span class="font-bold">Feature</span></td>
              <td><span class="font-bold">Detail</span></td>
              <td><span class="font-bold">Notes</span></td>
            </tr>
            <tr *ngIf="service.resource?.data.petsAllowed">
              <td>Pets Allowed?</td>
              <td>{{ service.resource?.data.petsAllowed | titlecase }}</td>
              <td>{{ service.resource?.data.petsAllowedNotes }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>