<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <img class="m-b-15" style="width:100%;" [src]="service.resource?.data.profilePhoto['0']['url']" />
        <h4 class="m-b-0">{{ service.resource?.data.fullName }}</h4>
        <small class="text-muted">{{ service.resource?.data.agentJobTitle }}</small>
        <hr />
        <p>{{ service.resource?.data.profile }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h3>Contact Details & Links:</h3>
      
        <hr />
        <i class="icon-Phone-SMS icon-hero"></i>
        <small class="text-muted">Mobile Number </small><br />
        {{ service.resource?.data.mobileNumber }} 
        <hr class="bg-light-success" />
        <i class="icon-Email icon-hero"></i>
        <small class="text-muted">Email Address </small><br />
        <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.email }}</a>
        <div *ngIf="service.resource?.data.email">
          <hr class="bg-light-success" />
          <small class="text-muted">Property24 Profile </small><br />
          <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.email }}</a></div>
        <div *ngIf="service.resource?.data.email">
          <hr class="bg-light-success" />
          <small class="text-muted">Private Property Profile </small><br />
          <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.email }}</a></div>
        <hr class="bg-light-success" />
        <i class="icon-Facebook icon-hero"></i>
        <small class="text-muted">Website Link </small><br />
        <a
          href="https://www.maxprop.co.za/agent/{{ service.resource?._id }}">Maxprop Site</a>
       <div *ngIf="service.resource?.data.profileLandingPageLink">
          <hr class="bg-light-success" />
        <small class="text-muted">Personal Landing Page </small><br />
        <a
          href="{{ service.resource?.data.profileLandingPageLink }}">{{ service.resource?.data.fullName }} Website</a>
        </div>
          <div *ngIf="service.resource?.data.facebook">
          <hr class="bg-light-success" />
          <small class="text-muted">Facebook </small><br />
          <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.facebook }}</a></div>
        <div *ngIf="service.resource?.data.twitter">
          <hr class="bg-light-success" />
          <small class="text-muted">Twitter </small><br />
          <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.twitter }}</a></div>
        <div *ngIf="service.resource?.data.facebook">
          <hr class="bg-light-success" />
          <small class="text-muted">LinkedIn </small><br />
          <a href="{{ service.resource?.data.email }}">{{ service.resource?.data.facebook }}</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <a href="/#/agent/{{ service.resource?._id }}/agent-listings" class="btn btn-block btn-rounded btn-warning">View
      {{ service.resource?.data.firstName }}'s Listings</a>
      <div class="card bg-light-success no-card-border m-t-20">
          <div class="card-body">
            <div class="d-flex align-items-center text-center">
              <div *ngIf="service.resource?.data.hiddenDataTotalValue" class="p-r-10 border-right border-light"><small class="text-muted">Total Value on Market</small>
                <h4>R{{ service.resource?.data.hiddenDataTotalValue | number }}</h4>
              </div>
              <div *ngIf="service.resource?.data.hiddenDataAvgPrice" class="p-l-10"><small class="text-muted">Avg Value on Market</small>
                <h4>R{{ service.resource?.data.hiddenDataAvgPrice | number }}</h4>{{ service.resource?.data.hiddenDataTotalListings | number }}
              </div>
            
            </div>
          </div>
        </div>
    <div class="card bg-light m-t-20">
      <div class="card-body">
        <small class="text-muted">Office</small>
        <h6><a
            href="/#/offices/{{ service.resource?.data.offices._id }}">{{ service.resource?.data.offices.data.officeName }}</a>
        </h6>
        <small class="text-muted">Office Number </small><br />
        {{ service.resource?.data.offices.data.officeNumber }}<br />
        <small class="text-muted">Office Email </small><br />
        <a target="_blank"
          href="mailto:{{service.resource?.data.offices.data.officeEmailAddress}}">{{ service.resource?.data.offices.data.officeEmailAddress }}</a><br />
        <small class="text-muted">Office Address </small><br />
        <a target="_blank"
          href="{{service.resource?.data.offices.data.address.url}}">{{ service.resource?.data.offices.data.address.formatted_address }}</a><br />

      </div>
    </div>
  </div>
</div>