<div style="background-color: #fafafa;" class="m-t-25">
  <ul class="nav nav-tabs" style="margin-bottom: 25px; width:100%;">
    <li class="nav-item"><a class="nav-link" routerLink="../"><i class="fa fa-chevron-left"></i></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="view" routerLinkActive="active">Mandate</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="listing-profile/{{ service.resource?.data['listingProfile']._id }}" routerLinkActive="active">Listing Profile</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="marketing/{{ service.resource?.data['marketing']._id }}" routerLinkActive="active">Marketing</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="showings" routerLinkActive="active">Showings</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="leads" routerLinkActive="active">Leads</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="notes" routerLinkActive="active">Notes & Docs</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="contracts" routerLinkActive="active">Contracts</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="edit" routerLinkActive="active">Edit</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete" routerLinkActive="active"><i
          class="sl-icon-trash"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet>