<ais-instantsearch [config]="{
        apiKey: 'efe2e1f090c52825b9413451ca24f3b0',
        appId: '5BBJ80MJOQ',
        indexName: 'maxprop_Offices',
        routing: true
      }">
        <div class="row m-t-20">

                <div class="col-md-8">
                        <ais-hits>
                                <ng-template let-hits="hits">
                                        <div *ngFor="let hit of hits">
                                                <div class="card">
                                                        <div class="card-body">
                                                                {{ hit.office }}<br />
                                                                {{ hit.address }}<br />
                                                                {{ hit.email }}<br />
                                                                {{ hit.number }}
                                                        </div>
                                                </div>
                                        </div>
                                </ng-template>
                        </ais-hits>
                        <ais-pagination showLast="true" showFirst="true"></ais-pagination>
                </div>
                <div class="col-md-4">
                                <div class="card bg-light">
                                                <div class="card-body">
                                                        <ais-search-box placeholder='Start Typing the Name of the Office'>
                                                        </ais-search-box>
                                                </div>
                                        </div>
                </div>
        </div>
</ais-instantsearch>