<div style="background-color: #fafafa;" class="m-t-25">
  <ul class="nav nav-tabs" style="margin-bottom: 25px; width:100%;">
    <li class="nav-item"><a class="nav-link" routerLink="../"><i class="fa fa-chevron-left"></i></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="view" routerLinkActive="active">Mandate</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-listing/{{ service.resource?.data['commercialListingProfile']._id }}" routerLinkActive="active">Listing</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-marketing/{{ service.resource?.data['commercialMarketing']._id }}" routerLinkActive="active">Marketing</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-leads" routerLinkActive="active">Leads</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-showings" routerLinkActive="active">Showings</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-notes" routerLinkActive="active">Notes & Docs</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="commercial-contracts" routerLinkActive="active">Contracts</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="edit" routerLinkActive="active">Edit</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete" routerLinkActive="active"><i
          class="sl-icon-trash"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet>