<div class="row">
    <div class="col-lg-12">
      <div class="card bg-light-info no-card-border">
        <div class="card-body text-center">
          <div class="d-flex align-items-center">
            <div>
              <h4 class="m-b-0">Listing Is <span class="text-success">{{ service.resource?.data.mandates.data.mandateStatus | titlecase }}</span> On The Web</h4>
            </div>
            <div class="m-l-10">
                <a class="btn btn-rounded btn-warning font-bold"><i class="fas fa-toggle-off "></i>  Change Status</a>
              </div>
              <div class="m-l-10">
                <a class="btn btn-rounded btn-warning" target="_blank" href="https://www.maxprop.co.za/#/listing-landing/{{ service.resource?._id }}/view"><i class="fas fa-share"></i>  Share Listing Landing Page Link</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>