<div style="background-color: #fafafa;" class="m-t-30">
  <ul class="nav nav-tabs" style="margin-bottom: 25px; width:100%;">
    <li class="nav-item"><a class="nav-link" routerLink="view" routerLinkActive="active">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="web" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i>Web</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="web" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i>Property24</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="web" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i>Private Property</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="web" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i>Office Listing</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="web" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i>Brochures</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet>