<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img class="m-b-15" style="width:100%;" src="{{ service.resource?.data.profilePhoto['0']['url'] }}" />
        <h4>{{ service.resource?.data.fullName }}</h4>
        <h5 style="text-transform: capitalize">{{ service.resource?.data.designation }}</h5>
        <small class="text-muted">Mobile Number </small><br />
        {{ service.resource?.data.mobileNumber }}<br />
        <small class="text-muted">Email Address </small><br />
        <a href="{{ service.resource?.data.email }}">{{service.resource?.data.email }}</a><br />
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h3>Interested in Working with {{ service.resource?.data.firstName }}?</h3>
        <p class="capitalize text-muted">Complete the Form Below to get in Touch</p>
        <formio src="https://digitaloffice.form.io/agentcontactform"></formio>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a href="/#/broker/{{ service.resource?._id }}/broker-listings" class="btn btn-block btn-rounded btn-warning">View
      {{ service.resource?.data.firstName }}'s Listings</a>
    <div class="card bg-light m-t-20">
      <div class="card-body">
        <h6><a
            href="/#/offices/{{ service.resource?.data.offices._id }}">{{ service.resource?.data.offices.data.officeName }}</a>
        </h6>
        <small class="text-muted">Office Number </small><br />
        {{ service.resource?.data.offices.data.officeNumber }}<br />
        <small class="text-muted">Office Email </small><br />
        <a target="_blank"
          href="mailto:{{service.resource?.data.offices.data.officeEmailAddress}}">{{ service.resource?.data.offices.data.officeEmailAddress }}</a><br />
        <small class="text-muted">Office Address </small><br />
        <a target="_blank"
          href="{{service.resource?.data.offices.data.address.url}}">{{ service.resource?.data.offices.data.address.formatted_address }}</a><br />

      </div>
    </div>
  </div>
</div>