<div class="row">
    <div class="col-12 m-t-30">
<h2>Maxprop Social Media Employee Guidelines</h2>
<hr>

<p class="lead">As our personal and professional lives become blurred online, it is important to have a thorough understanding of how to participate on digital platforms in order to protect both yourself and Maxprop. </p>

<p>The following document outlines guidelines that provide helpful and practical advice for conducting yourself online. It applies to all personnel. </p>

<p>The Maxprop Group has the following official accounts, which we encourage you to ‘like’, ‘follow’ and ‘subscribe’ to:</p>

<ul>
<li><a href="https://www.fb.com/maxpropsa" taget="_blank">https://www.fb.com/maxpropsa</a></li>
<li><a href="http://www.linkedin.com/company/Maxprop" taget="_blank">http://www.linkedin.com/company/Maxprop</a></li>
<li><a href="http://www.twitter.com/Maxpropsa" taget="_blank">http://www.twitter.com/Maxpropsa</a></li>
</ul>

<p>In order to support and grow both your personal brand and the Maxprop brand online, we believe that all our employees should have the opportunity to actively engage and participate on social networks, while upholding the values that define Maxprop. </p>
<hr class="m-t-25 m-b-25">
<h3 class="m-b-20">The Do’s &amp; Don’ts of Social Media</h3>

<p class="lead">In the online space, there are several things that you need to do in order to look after your personal brand, as well as the reputation of Maxprop. </p>

<ul>
<li>Be consistent, relevant, interesting and yourself. Social media is a great channel for sharing stories that give your audience an insight into how you conduct business.</li>
<li>Remember that others will associate you with Maxprop. It’s important to ensure the content you post and the words you use are consistent with how you want to present yourself to the Maxprop group and customers.</li>
<li>Check your facts before sharing something.</li>
<li>Provide value for your audience.</li>
<li>Listen, monitor and participate in relevant conversations.</li>
<li>Ask questions and learn about your network and the people around you on social media in order to build relationships.</li>
<li>Be conversational.</li>
<li>Understand that sharing your opinion about Maxprop on social media could damage the brand’s reputation as an unbiased source of news</li>
</ul>

<p>While the goal is to consistently strengthen one’s personal brand over time and build connections, the reverse is also possible. Do not do the following:</p>

<ul>
<li>Posting content that is threatening, abusive, defamatory, obscene, indecent, objectionable or offensive as well as fraudulent, deceptive or misleading</li>
<li>Posting content that violates the intellectual property rights of another</li>
<li>Posting content in anger</li>
<li>Posting things that violate any law or regulation</li>
<li>Posting comments containing sexually explicit or sexist content</li>
<li>Attacking specific groups or posting comments meant to harass, threaten or abuse any individuals</li>
<li>Sharing your opinion on contentious public issues relating to Maxprop, unless you are an official Maxprop spokesperson</li>
</ul>
<hr class="m-t-25 m-b-25">
<h3 class="m-b-20">The Maxprop Rules of Engagement</h3>

<p>It’s important to follow the Maxprop Rules of engagement. This is relevant to:</p>

<ul>
<li>Maxprop employees</li>
<li>Those communicating as Maxprop</li>
<li>Official representatives or spokespeople.</li>
</ul>

<p>This will ensure that our social media content is consistent and that problems are avoided.</p>

<p class="font-weight-bold">Integrity</p>

<p>Make sure that you use reasonable etiquette, the same as you would in an offline environment. Your honesty (and dishonesty) will be noticed in the social media environment. Please represent both yourself and Maxprop ethically and with integrity. </p>

<p class="font-weight-bold">Identify Yourself</p>

<p>We need to ensure that content associated with Maxprop is consistent with the Maxprop brand and company policies. If you are engaging with audiences about Maxprop, be transparent and identify that you work for the company, and be clear about your role.</p>

<p class="font-weight-bold">Be Honest</p>

<p>Always be honest and make sure that what you’re saying is factually correct and not misleading in any way. Ensure it doesn’t violate any legal guidelines that prohibit revealing sensitive, confidential or other information that could harm Maxprop’s reputation. Maxprop has zero tolerance staff who leak information which poses a risk to Maxprop in anyway. </p>

<p>Don't talk negatively about Maxprop or any of our competitors. Refrain from speculating on anything Maxprop has not officially announced, even if a customer or the media push you for a personal opinion. </p>

<p class="font-weight-bold">Watch Your Words</p>

<p>What you say online is a permanent record. If you wouldn’t want your post displayed as a headline in tomorrow's paper, chances are you shouldn’t be saying it online. </p>

<p class="font-weight-bold">Show Restraint</p>

<p>Before you post anything, pause and reread. If you wouldn’t want that particular thought or contribution forever associated with your name, don’t post it. It’s important to think about the consequences with regards to content that you publish on social media platforms. </p>
<hr class="m-t-25 m-b-25">
<h3 class="m-b-20">Frequently Asked Questions</h3>

<p class="font-weight-bold">Who needs to follow the above guidelines?</p>

<p>All employees and contractors of Maxprop. If you are unsure of how they apply to you in your day-to-day job, please contact Maxprop Digital. </p>

<p class="font-weight-bold">What happens if people are misrepresenting facts about Maxprop on social media? May I correct the facts?</p>

<p>If you see negative or false comments about the company online, please contact Maxprop Digital through Nicole at franchises@maxprop.co.za who will then advise you on the next steps. </p>

<p>Please do not engage with journalists or members of the public in situations such as this. </p>

<p class="font-weight-bold">When I create accounts on social media, do I have to identify myself as a Maxprop employee?</p>

<ul>
<li>You must disclose that you work at (or with) Maxprop if you plan to use the social media profile for any of the following:</li>
<li>As a sales/customer acquisition channel for Maxprop related business</li>
<li>Intend to talk about Maxprop related matters</li>
<li>If you use your @maxprop.co.za/@maxprop.solutions email address in the registration process (we recommend that you use your personal email address for social media account creation)</li>
</ul>

<p>Remember, even if you don’t identify yourself as a Maxprop employee, you can still be linked to the company via other means and therefore will always need to conduct yourself according the guidelines outlined above. </p>

<p class="font-weight-bold">Should I register social media accounts on behalf of my business unit?</p>

<p>Maxprop employees should not register accounts on behalf of Maxprop business units unless they have been given permission to do so by Maxprop Digital. </p>
</div>
</div>