<div style="background-color: #fafafa;" class="m-t-30">
    <ul class="nav nav-tabs" style="margin-bottom: 25px; width:100%;">
      <li class="nav-item"><a class="nav-link" href="./#/tools/{{ service.resource?.data.tools._id }}/view"><i class="fa fa-chevron-left"></i></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="view" routerLinkActive="active"> Property 24 Overview</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="edit" routerLinkActive="active"><i class="fas fa-edit"></i>
        Edit P24 Settings</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete" routerLinkActive="active"><i
          class="fas fa-trash-alt"></i></a></li>
    </ul>
    <div class="clearfix"></div>
    </div>
    <router-outlet></router-outlet>