<ais-instantsearch [config]="{
    apiKey: 'efe2e1f090c52825b9413451ca24f3b0',
    appId: '5BBJ80MJOQ',
    indexName: 'ooba_Con',
    routing: true
  }">
    <div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <div class="card bg-light">
                <div class="card-body">
                    <ais-search-box
                        placeholder='Search by Anything You Looking For - Eg. Apartment in Umhlanga With a View'>
                    </ais-search-box>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-md-3">
            <div class="card bg-light-info">
                <div class="card-body">
                    <ais-clear-refinements [clearsQuery]="true"></ais-clear-refinements>
                </div>
            </div>

            <div class="card bg-light-info">
                <div class="card-body">
                    <h5>Price</h5>
                    <ais-numeric-menu attribute="price" operator="or" [items]="[
                          { name: 'All' },
                          { end: 499999, name: 'Less than R500k' },
                          { start: 500000, end: 999999, name: 'R500k - R1M' },
                          { start: 1000000, end: 1499999, name: 'R1m - R1,5m' },
                          { start: 1500000, end: 1999999, name: 'R1.5m - R2m' },
                          { start: 2000000, end: 2499999, name: 'R2m - R2.5m' },
                          { start: 2500000, end: 2999999, name: 'R2.5m - R3m' },
                          { start: 3000000, end: 3499999, name: 'R3m - R3.5m' },
                          { start: 3500000, name: 'Above R3m' }
                        ]">
                    </ais-numeric-menu>
                </div>
            </div>
            <div class="card bg-light-info">
                <div class="card-body">
                    <h5 class="m-b-15">Suburbs</h5>
                    <ais-refinement-list attribute="suburb" operator="or" [limit]="10" [showMoreLimit]="15"
                        showMoreLabel="More" showLessLabel="Less" [searchable]="true">
                    </ais-refinement-list>
                </div>
            </div>
            <div class="card bg-light-info">
                <div class="card-body">
                    <h5>Cities</h5>
                    <ais-refinement-list attribute="city" operator="or" [limit]="20" [showMoreLimit]="21"
                        showMoreLabel="More" showLessLabel="Less">
                    </ais-refinement-list>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ais-hits>
                <ng-template let-hits="hits">
                    <div *ngFor="let hit of hits">
                        <div class="card">
                            <img class="card-img-top img-fluid" style="height: 350px;" src="{{hit.cover}}" />
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center m-b-15">
                                    <i class="sl-icon-location-pin"></i> {{ hit.address }}
                                </div>

                                <div class="d-flex no-block align-items-center m-b-15">

                                    <ais-highlight attribute="bedrooms" [hit]="hit">
                                    </ais-highlight>
                                    <span class="p-l-5">Bedrooms</span>

                                    <div class="ml-auto">
                                        <span class="font-weight-bold">R{{hit.price | number}}</span>
                                    </div>
                                </div>
                                <div [innerHTML]="hit.descriptionAbridged"></div>
                                <h3>Property Features</h3>
                                <div class="card-body">
                                    <ul class="list-style-none float-left">
                                        <li class="m-t-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bedroom.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.bedrooms }}</h5><span class="text-muted">Bedrooms</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-t-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bathroom.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.bathrooms }}</h5><span class="text-muted">Bathrooms</span>
                                                </div>
                                            </div>
                                            
                                        </li>
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/kitchen.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.kitchens }}</h5><span class="text-muted">Kitchens</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/garage.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.garages }}</h5><span class="text-muted">Garages</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/parking.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.carPorts }}</h5><span class="text-muted">Car Ports</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                    </ul>
                                    <ul class="list-style-none float-right">
                                        
                                        <li class="m-t-10" *ngIf="hit.studies">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/studies.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.studies }}</h5><span class="text-muted">Study Rooms</span>
                                                </div>
                                            </div>
                                            
                                        </li>
                                        <li class="m-t-10 m-b-10" *ngIf="hit.flatlet">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bathrooms.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.flatlet }}</h5><span class="text-muted">Flatlet</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10 m-b-10" *ngIf="hit.domesticAccomodation">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bathrooms.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.domesticAccomodation }}</h5><span class="text-muted">Domestic Rooms</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                   
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/view.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.views }}</h5><span class="text-muted">Views</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/pool.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.pool }}</h5><span class="text-muted">Pool</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/security.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.security }}</h5><span class="text-muted">Security</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <!--                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bathrooms.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.petsAllowed }}</h5><span class="text-muted">Pets Allowed</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10 m-b-10">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/bathrooms.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.receptionRooms }}</h5><span class="text-muted">Reception Rooms</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                    -->
                                        <li class="m-t-10 m-b-10" *ngIf="hit.floor">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/floor.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.floor | number }}m²</h5><span class="text-muted">Floor Size</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                        <li class="m-t-10 m-b-10" *ngIf="hit.land">
                                            <div class="d-flex align-items-center"><img src="../../assets/images/land.png" class="img-fluid" style="width:35px; object-fit: cover;" />
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">{{ hit.land | number }}m²</h5><span class="text-muted">Land Size</span>
                                                </div>
                                            </div>
                                         
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>

                                <hr />
                                <div class="comment-widgets">
                                    <!-- Comment Row -->
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div>
                                            <img src="{{hit.agentPhoto}}" alt="user"
                                                style="object-fit: cover; height: 75px;">
                                        </div>
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium">
                                                {{ hit.agent }}
                                            </h6>
                                            <span class="d-block">{{hit.office }}</span>
                                        </div>
                                        <div class="comment-text w-100 text-right">
                                            <h6 class="text-muted">
                                                <ais-highlight attribute="code" [hit]="hit">
                                                </ais-highlight>
                                            </h6>
                                            <span class="d-block text-muted">{{ hit.partner }}</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"
                                    class="btn btn-primary btn-block btn-rounded waves-effect waves-light m-t-20">
                                    Property Brochure</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ais-hits>
            <ais-pagination showLast="true" showFirst="true"></ais-pagination>
        </div>
        <div class="col-md-3">
            <div class="card bg-light-info">
                <div class="card-body" style="margin-bottom: 25px;">

                    <h5 style="margin-bottom: 45px;">Bedrooms</h5>
                    <ais-range-slider attribute="bedrooms" [precision]="0" [pips]="false">
                    </ais-range-slider>
                    <hr />
                    <h5 style="margin-bottom: 45px;">Bathrooms</h5>
                    <ais-range-slider attribute="bathrooms" [precision]="0" [pips]="false">
                    </ais-range-slider>
                </div>
            </div>
            <div class="card bg-light-info">
                <div class="card-body">
                    <h5>Floor Space (m²)</h5>
                    <ais-range-input attribute="floor" [precision]="0" separator="→" currency="">
                    </ais-range-input>
                    <hr />
                    <h5>Land Size (m²)</h5>
                    <ais-range-input attribute="land" [precision]="0" separator="→" currency="">
                    </ais-range-input>
                </div>
            </div>
            <div class="card bg-light-info">
                <div class="card-body">
                    <h5>Security</h5>
                    <ais-toggle attribute="security" label="Security"></ais-toggle>
                </div>
            </div>
            <div class="card bg-light-info">
                <div class="card-body">
                    <h5>Pool</h5>
                    <ais-toggle attribute="pool" label="Pool"></ais-toggle>
                </div>
            </div>
        </div>
    </div>
</ais-instantsearch>