<div class="row">
  <div class="col-12 m-t-30">
          <h2 class="m-b-0">The Maxprop Identity</h2>
          <h4>Logo, Icons and Colours</h4>
          <hr />
      </div>
</div>
<!-- Row -->
<div class="row">
<div class="col-12 m-t-30">
  <h4 class="m-b-0">The Maxprop Logo</h4>
  <p class="lead m-t-20 m-b-15">The revised logo...
  </p>
</div>
<div class="col-md-7">
  <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/Logo/Logo-New.png" alt="Card image cap">

          <div class="card-body">
                  <h4 class="card-title">Primary Logo Application</h4>
                  <hr />
                  <button class="btn btn-lg btn-primary btn-block m-t-20" type="button" href="assets/images/Logo/Logo-High-Res.jpg"><i class="mdi mdi-cloud-download m-r-10"></i> Download High-Resolution File</button>
              </div>
  </div>
</div>
<div class="col-md-4 offset-1">
  <div class="card">
      <img class="card-img-top img-responsive" src="assets/images/Logo/Logo-Spacing.png" alt="Card image cap">
      <div class="card-body">
              <h4 class="card-title">Logo spacing</h4>
              <hr />
<p>Always ensure that the logo application contains the correct spacing to the edges.</p>
          </div>
  </div>
</div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
<div class="col-12 m-t-30">
  <h4 class="m-b-0">Alternative Logo Variations</h4>
  <p class="lead m-t-20 m-b-15">The logo can be used in a varierty if different colours to best fit the context.</p>
  <div class="card-group">
      <div class="card">
          <img class="card-img-top img-responsive border-bottom" src="assets/images/Logo/black-white-small.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Black on White</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-10"></i> Download High-Resolution File</button>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/Logo/Reversed-Small.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Yellow on Black</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-10"></i> Download High-Resolution File</button>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/Logo/On-Black-Small.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">White on Black</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-10"></i> Download High-Resolution File</button>
          </div>
      </div>
  </div>
</div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
<div class="col-12 m-t-30">
  <h4 class="m-b-0">Icons</h4>
  <p class="lead m-t-20 m-b-15">In certain contexts, it's more appropriate to use an icon instead of the full logo. This would normally be the case when the presentation area is small and using the full logo would be make it illegible.</p>
  <div class="card-group">
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/icons/1-Logo-Icon.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Logo Icon</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-5"></i> Download High-Resolution File</button>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/icons/2-Square-Social-Icon.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Square Social Icon</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-5"></i> Download High-Resolution File</button>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/icons/3-Rounded-Square-Social-Icon.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Rounded Square</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-5"></i> Download High-Resolution File</button>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/icons/4-Circular-Social-Icon.png" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Circular Social Icon</h4>
              <hr />
              <button class="btn btn-primary btn-block m-t-20" type="button"><i class="mdi mdi-cloud-download m-r-5"></i> Download High-Resolution File</button>
          </div>
      </div>
  </div>
</div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
  <div class="col-12 m-t-30">
      <h4 class="m-b-0">The Primary Maxprop Colour Palette</h4>
      <p class="lead m-t-20 m-b-15">The key colour codes when working with the Maxprop Brand.</p>
      <div class="card-group">
          <div class="card">
              <img class="card-img-top img-responsive border-bottom" src="assets/images/colours/Yellow.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Yellow</h4>
              <p class="muted">#FFFF00</p>    
              </div>
          </div>
          <div class="card">
                  <img class="card-img-top img-responsive border-bottom" src="assets/images/colours/White.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">White</h4>
                      <p class="muted">#FFFFFF</p>    
                  </div>
              </div>
          <div class="card">
              <img class="card-img-top img-responsive border-bottom" src="assets/images/colours/Black.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Black</h4>
                  <p class="muted">#000000</p>    
              </div>
          </div>
         
      </div>
      <div class="card m-t-30" style="background-color:#fcfcfc">
              <div class="card-body text-center">
              <p class="lead" style="margin-bottom:0;"><strong>Tip!</strong> When working with a printer, ask for the yellow to be 100% yellow.
              </p>
          </div>
          </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
  <div class="col-12 m-t-30">
      <h4 class="m-b-0">Typography</h4>
      <p class="lead m-t-20 m-b-15"><strong>Proxima Nova</strong> - the typography used at Maxprop - is elegant, profesional and easy to use. <strong>Proxima Nova</strong> bridges the gap between typefaces like Futura and Akzidenz Grotesk. The result is a hybrid that combines modern proportions with a geometric appearance.</p>
      <button class="btn btn-primary btn-rounded btn-large m-t-10 m-b-30" type="button"><i class="mdi mdi-cloud-download m-r-10"></i> Download Proxima Nova Font Files</button>
      <div class="card-group text-center">
          <div class="card">
              <div class="card-body">
                  <h1 class="card-title" style="font-size: 6em;">A a</h1> 
               </div>
          </div>
          <div class="card">
              <div class="card-body">
                      <h1 class="card-title" style="font-size: 6em;">B b</h1> 
               </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h1 class="card-title" style="font-size: 6em;">C c</h1>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h1 class="card-title" style="font-size: 6em;">D d</h1>
               </div>
          </div>
          <div class="card">
                  <div class="card-body">
                      <h1 class="card-title" style="font-size: 6em;">E e</h1>
                   </div>
              </div>
      </div>
  </div>
  <div class="col-12 m-t-30">
          <div class="card-group text-center">
              <div class="card">
                  <div class="card-body">
                      <h1 class="card-title" style="font-size: 6em;">F f</h1> 
                   </div>
              </div>
              <div class="card">
                  <div class="card-body">
                          <h1 class="card-title" style="font-size: 6em;">G g</h1> 
                   </div>
              </div>
              <div class="card">
                  <div class="card-body">
                      <h1 class="card-title" style="font-size: 6em;">H h</h1>
                    </div>
              </div>
              <div class="card">
                  <div class="card-body">
                      <h1 class="card-title" style="font-size: 6em;">I i</h1>
                   </div>
              </div>
              <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="font-size: 6em;">J j</h1>
                       </div>
                  </div>
          </div>
      </div>
      <div class="col-12 m-t-30">
              <div class="card-group text-center">
                  <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="font-size: 6em;">k k</h1> 
                       </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                              <h1 class="card-title" style="font-size: 6em;">L l</h1> 
                       </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="font-size: 6em;">M m</h1>
                        </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          <h1 class="card-title" style="font-size: 6em;">N n</h1>
                       </div>
                  </div>
                  <div class="card">
                          <div class="card-body">
                              <h1 class="card-title" style="font-size: 6em;">O o</h1>
                           </div>
                      </div>
              </div>
          </div>
          <div class="col-12 m-t-30">
                  <div class="card-group text-center">
                      <div class="card">
                          <div class="card-body">
                              <h1 class="card-title" style="font-size: 6em;">P p</h1> 
                           </div>
                      </div>
                      <div class="card">
                          <div class="card-body">
                                  <h1 class="card-title" style="font-size: 6em;">Q q</h1> 
                           </div>
                      </div>
                      <div class="card">
                          <div class="card-body">
                              <h1 class="card-title" style="font-size: 6em;">R r</h1>
                            </div>
                      </div>
                      <div class="card">
                          <div class="card-body">
                              <h1 class="card-title" style="font-size: 6em;">S s</h1>
                           </div>
                      </div>
                      <div class="card">
                              <div class="card-body">
                                  <h1 class="card-title" style="font-size: 6em;">T t</h1>
                               </div>
                          </div>
                  </div>
              </div>
              <div class="col-12 m-t-30">
                      <div class="card-group text-center">
                          <div class="card">
                              <div class="card-body">
                                  <h1 class="card-title" style="font-size: 6em;">U u</h1> 
                               </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                      <h1 class="card-title" style="font-size: 6em;">V v</h1> 
                               </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                  <h1 class="card-title" style="font-size: 6em;">W w</h1>
                                </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                  <h1 class="card-title" style="font-size: 6em;">X x</h1>
                               </div>
                          </div>
                          <div class="card">
                                  <div class="card-body">
                                      <h1 class="card-title" style="font-size: 6em;">Y y</h1>
                                   </div>
                              </div>
                      </div>
                  </div>
</div>
<!-- End Row -->