<div class="row">
  <div class="col-md-12">
    <div class="card  bg-light-info no-card-border">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="m-r-30"><img alt="user" class="rounded-circle"
              src="{{ service.resource?.data.agent.data.profilePhoto['0']['url'] }}" width="60"></div>
          <div>
            <span class="text-muted">{{ service.resource?.data.agent.data.fullName }}</span>
            <h3 class="m-b-0"> {{ service.resource?.data.address.formatted_address }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table no-border mini-table m-t-20">
      <tbody>
        <tr>
          <td class="text-muted">Unique Code</td>
          <td class="font-dark">{{ service.resource?.data.uniqueCode }}</td>
        </tr>
        <tr *ngIf="service.resource?.data.mandateStatus">
          <td class="text-muted">Mandate Status</td>
          <td class="font-medium"> {{ service.resource?.data.mandateStatus | titlecase }}
          </td>
        </tr>
        <tr>
          <td class="text-muted">Listing Type</td>
          <td class="font-medium"> {{ service.resource?.data.listingType }}
          </td>
        </tr>
        <tr *ngIf="service.resource?.data.mandate">
          <td class="text-muted">Mandate Type</td>
          <td class="font-medium">{{ service.resource?.data.mandate }}</td>
        </tr>
        <tr>
          <td class="text-muted">Date Listed</td>
          <td class="font-medium">{{ service.resource?.data.dateListed | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-12">
        <div class="card-deck">
          <div class="card"><img alt="Card image cap" class="card-img-top img-responsive"
              src="assets/images/listing-profile.jpg">
            <div class="card-body">
              <h4 class="card-title">Listing Profile</h4>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card"><img alt="Card image cap" class="card-img-top img-responsive"
              src="assets/images/Marketing.jpg">
            <div class="card-body">
              <h4 class="card-title">Marketing & Advertising</h4>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card"><img alt="Card image cap" class="card-img-top img-responsive"
              src="assets/images/showings.png">
            <div class="card-body">
              <h4 class="card-title">Showings</h4>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        
 
      </div>
       
    </div>
 
  </div>
</div>
  <div class="row m-t-30">
    <div class="col-12">
      <div class="card-deck">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-pie-chart"></i></h1>
              </div>
              <div>
                <h4 class="card-title">Bandwidth usage</h4>
                <h6 class="text-white op-5">March 2019</h6>
              </div>
            </div>
            <div class="row m-t-20 align-items-center">
              <div class="col-4">
                <h3 class="font-light text-white">50 GB</h3>
              </div>
              <div class="col-8 text-right">
                <div class="bandwidth"><canvas width="146" height="70"
                    style="display: inline-block; width: 146px; height: 70px; vertical-align: top;"></canvas></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-cyan text-white">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-pie-chart"></i></h1>
              </div>
              <div>
                <h4 class="card-title">Mandate Views</h4>
                <h6 class="text-white op-5">{{ date }}</h6>
              </div>
            </div>
            <div class="row m-t-20 align-items-center">
              <div class="col-4">
                <h3 class="font-light text-white">14506</h3>
              </div>
              <div class="col-8 text-right">
                <div class="spark-count"><canvas width="460" height="70"
                    style="display: inline-block; width: 460.656px; height: 70px; vertical-align: top;"></canvas></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>