<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card bg-light-info no-card-border">
        <div class="card-body">
          <h3 class="m-b-10"> Mandate Snapshot</h3>
          <hr />
          <table class="table no-border table-sm m-t-20">
            <tbody>
              <tr>
                <td class="text-muted">Unique Code</td>
                <td class="font-dark">{{ service.resource?.data.uniqueCode }}</td>
              </tr>
              <tr>
                <td class="text-muted">Listing Agent:</td>
                <td class="font-medium">{{ service.resource?.data.agent.data.fullName }}<br />
                  <small>At {{ service.resource?.data.offices.data.officeName }}</small></td>
              </tr>
              <tr>
                <td class="text-muted">Date Created:</td>
                <td>
                  <span>{{ service.resource?.created | date }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-muted">Listing Type</td>
                <td class="font-medium"> {{ service.resource?.data.listingType }}
                </td>
              </tr>
              <tr *ngIf="service.resource?.data.mandateStatus">
                <td class="text-muted">Mandate Status</td>
                <td class="font-medium"> {{ service.resource?.data.mandateStatus | titlecase }}
                </td>
              </tr>
              <tr *ngIf="service.resource?.data.mandate">
                <td class="text-muted">Mandate Type:</td>
                <td>
                  <span>{{ service.resource?.data.mandate | titlecase }}</span>
                </td>
              </tr>
              <tr *ngIf="service.resource?.data.mandateStartDate">
                <td class="text-muted">Mandate Start Date:</td>
                <td>
                  <span>{{ service.resource?.data.mandateStartDate | date }}</span>
                </td>
              </tr>
              <tr *ngIf="service.resource?.data.mandateEndDate">
                <td class="text-muted">Mandate End Date:</td>
                <td>
                  <span>{{ service.resource?.data.mandateEndDate | date }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <a class="btn btn-block btn-info btn-rounded" href="./#/mandates/{{ service.resource?._id }}/edit"><i
              class="fas fa-edit"></i>
            Edit Mandate Information</a>
        </div>
      </div>
      <div class="card"><img alt="Card image cap" class="card-img-top img-responsive p-15"
          src="https://digital-office-files.s3-us-west-2.amazonaws.com/cover-images/Listing-Builder.png">
        <div class="card-body">
          <h6 class="card-title">Listing Profile</h6>
          <p class="card-text"><small class="text-muted">Manage the Information Associated With This Mandate</small>
          </p>
          <a class="btn btn-block btn-primary"
            href="./#/listings/{{ service.resource?.data.listingProfileId }}/view">Manage Listing</a>
        </div>
      </div>
      <div class="card"><img alt="Card image cap" class="card-img-top img-responsive p-15"
          src="https://digital-office-files.s3-us-west-2.amazonaws.com/cover-images/Email-3.png">
        <div class="card-body">
          <h6 class="card-title">Marketing & Advertising</h6>
          <p class="card-text"><small class="text-muted">Portal, Web and Brochures Options Available Brochures
            </small></p>
          <a class="btn btn-block btn-primary" href="./#/tools/{{ service.resource?.data.toolsId }}/view">Manage
            Marketing</a>

        </div>
      </div>
      <div class="card"><img alt="Card image cap" class="card-img-top img-responsive p-15"
          src="https://digital-office-files.s3-us-west-2.amazonaws.com/cover-images/Calender.png">
        <div class="card-body">
          <h6 class="card-title">Showings</h6>
          <p class="card-text"><small class="text-muted">Schedule and Share Viewings, Showdays & Related
              Events</small></p>
          <a class="btn btn-block btn-primary" routerLink="showings">Manage Showings</a>

        </div>
      </div>
    </div>


  </div>

</div>